%html
	%head
		%link{:rel => "stylesheet", :href => "/stylesheets/github.css", :type => "text/css"}
		%title
			= "I Haz a Site!"
	%body
		%article{:class => "markdown-body entry-content", :itemprop => "mainContentOfPage"}
			=yield
