%html
	%head
		%link{:rel => "stylesheet", :href => "/stylesheets/github.css", :type => "text/css"}
		%title
			= "I went to the woods because I wished to live deliberately, to front only the essential facts of life, and see if I could not learn what it had to teach, and not, when I came to die, discover that I had not lived."
	%body
		%article{:class => "markdown-body entry-content", :itemprop => "mainContentOfPage"}
			=yield
