%head
	%link{:rel => "stylesheet", :href => "/stylesheets/markdown.css", :type => "text/css"}
	%title
		= "Dashy Applesauce"
%body
	%article{:class => "markdown-body entry-content", :itemprop => "mainContentOfPage"}
		=yield
